@model NewCo.Areas.PersonalData.ViewModels.CustomerViewModel
@inject NewCo.Services.IDatabaseService DbService

@{
    ViewData["Title"] = "Nuovo Cliente";

    #region Country Dropdown

    Model.Countries = await DbService.CountriesAsync();

    Model.Countries.Insert(0, new Country()
    {
        ID = 9999,
        Name = "Seleziona un paese"
    });

    #endregion

    #region County Dropdown

    Model.Counties = await DbService.CountiesAsync();

    Model.Counties.Insert(0, new County()
    {
        ID = 9999,
        Name = "Seleziona una provincia"
    });

    #endregion
}

<h1>Nuovo Cliente</h1>

@if (ViewBag.Error)
{
    <p style="color:red; font-stretch:expanded">@ViewBag.ErrorMessage)</p>
}

<div class="row">
    <div class="col-md-4">
        <form asp-area="PersonalData"
              asp-controller="Customer"
              asp-action="Create"
              method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" maxlength="50" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" maxlength="2" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" maxlength="50" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" maxlength="50" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" maxlength="10" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VATRegistrationCode" class="control-label"></label>
                <input asp-for="VATRegistrationCode" class="form-control" maxlength="20" />
                <span asp-validation-for="VATRegistrationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountyId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CountyId, @Model.Counties.Select(c =>
                                                            new SelectListItem()
                                                            {
                                                                Text = c.Name,
                                                                Value = c.ID.ToString()
                                                            }), new { @class = "form-control" })
                <span asp-validation-for="CountyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CountryId, @Model.Countries.Select(c =>
                                                            new SelectListItem()
                                                            {
                                                                Text = c.Name,
                                                                Value = c.ID.ToString()
                                                            }), new { @class = "form-control" })
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista Clienti</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
