@model IEnumerable<Customer>

@{
    ViewData["Title"] = "View";
}

<h1>Clienti</h1>

<p>
    <a asp-action="Create">Crea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountyRef.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryRef.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountyRef.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryRef.Name)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", "Customer", new { Area = "PersonalData", id = item.ID }) |
                @Html.ActionLink("Elimina", "Delete", "Customer", new { Area = "PersonalData", id = item.ID })
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-area="PersonalData" asp-controller="PersonalDataHome" asp-action="Index">Lista Anagrafiche</a>
</div>
