@model IEnumerable<NewCoEF.Areas.Sales.Models.Order>

@{
    ViewData["Title"] = "Ordini";
}

<h1>Ordini</h1>

<p>
    <a asp-action="Create">Nuovo Ordine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.RowCount)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(o => o.No))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td>
                    @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRef.Name)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.RowCount)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>

                <td>
                    @Html.ActionLink("Modifica", "Edit", new { Area = "Sales", id = item.Id }) |
                    @Html.ActionLink("Elimina", "Delete", new { Area = "Sales", id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
