@model IEnumerable<NewCoEF.Areas.PersonalData.Models.County>

@{
    ViewData["Title"] = "Province";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Nuova provincia</a>
    <br />
    <a asp-action="UpdateDisconnectedMode">Aggiorna in modalità disconnessa</a>
    <br />
    <a asp-action="RemoveDisconnectedMode">Elimina in modalità disconnessa</a>
    <br />
    <a asp-action="AdvancedSearch">Ricerca avanzata</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(model => item.ID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
