@model IEnumerable<NewCo.Areas.PersonalData.Models.County>

@{
    ViewData["Title"] = "View";
}

<h1>Province</h1>

<p>
    <a asp-action="Create">Crea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", "County", new { Area = "PersonalData", id = item.ID }) |
                <!--@Html.ActionLink("Scheda", "Details", "County", new { Area = "PersonalData", id = item.ID }) |-->
                @Html.ActionLink("Elimina", "Delete", "County", new { Area = "PersonalData", id = item.ID })
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-area="PersonalData" asp-controller="PersonalDataHome" asp-action="Index">Lista Anagrafiche</a>
</div>
