@model NewCo.Areas.PersonalData.Models.Item

@{
    ViewData["Title"] = "Scheda Articolo";
}

<h1>Scheda Articolo</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-area="PersonalData"
              asp-controller="Item"
              asp-action="Edit"
              method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" maxlength="20" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" maxlength="50" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UnitPrice)
                @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitPrice, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Inventory)
                @Html.TextBoxFor(m => m.Inventory, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Inventory, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista Articoli</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
