@model IEnumerable<NewCoEF.Areas.PersonalData.Models.Customer>

@{
    ViewData["Title"] = "Clienti";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="bi bi-person-plus"></i>&nbsp;Nuovo
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATRegistrationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATRegistrationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryRef.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountyRef.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">
                    <i class="bi bi-pen-fill"></i>&nbsp;Modifica
                </a> &nbsp;
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">
                    <i class="bi bi-card-list"></i>&nbsp;Scheda
                </a> &nbsp;
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">
                    <i class="bi bi-file-earmark-x"></i>&nbsp;Elimina
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="lead">
    Dai un occhio alle icone fornite da Bootstrab <a href="https://icons.getbootstrap.com/#icon-font" target="_blank">QUI</a>
</p>
