@model NewCo.Areas.Sales.ViewModels.OrderLineViewModel

@{
    ViewData["Title"] = "Modifica Riga";
}

@if (ViewBag.Error)
{
    <p style="color:red; font-stretch:expanded">@ViewBag.ErrorMessage)</p>
}
<h4>Riga Ordine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Sales"
              asp-controller="OrderLine"
              asp-action="Edit"
              method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.LineNo)
            <div class="form-group">
                <label asp-for="OrderRef.No" class="control-label"></label>
                <input asp-for="OrderRef.No" class="form-control" readonly />
                <span asp-validation-for="OrderRef.No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ItemId, @Model.Items.Select(c =>
                                                            new SelectListItem()
                                                            {
                                                                Text = c.Description,
                                                                Value = c.Id.ToString()
                                                            }), new { @class = "form-control" })
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
                @Html.ActionLink("Annulla", "Edit", "Order", new { Area = "Sales", id = Model.OrderId }, new { @class = "btn btn-secondary" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
